<div id="class-left-col"></div>
	<h1 id="classname"><%= @classroom.name %></h1>
	<div id="edit-form">
		<%= render :partial => 'classrooms/edit'%>
	</div>
	<div id="leftleft-col">
		<h2 class="stu-hd">Students:</h2>
			<% @students.each do |student| %>
				<h4 class="stu-name"><%= link_to "#{student.fname + " " + student.lname}", edit_student_path(student), :class => "stu-name" %></h4>
			<% end %>
	</div>
	<div id="rightleft-col">
		<h2 class="stu-hd">Add Student:</h2>
		<%= render :partial => '/students/new' %>
		<%= link_to "Delete Classroom", teacher_classroom_path(@teacher.id, @classroom.id), method: :delete, :class => 'cl-del' %>
	</div>
</div>	

<div id="class-right-col">
	<div id="chart">
		<table border="1" style="width:100%">
			<th>
				<% @lessons.each do |lesson| %>
					<td><%= lesson.title %></td>
				<% end %>
			</th>
				<% @students.each do |student| %>
					<tr>
						<td><%= student.lname %>, <%= student.fname %></td>
						<td>
							<% student.completed.each do |comp| %>
								<% if (comp.title == "Tremendous Trees") == true %>
							  	<p id="comp">√<p>
								<% else %>
									---
								<% end %>
							<% end %>
							<% if student.completed == [] %>
								---
							<% end %>
						</td>
						<td>
							<% student.completed.each do |comp| %>
								<% if (comp.title == "Saving Species") == true %>
							  	<p id="comp">√<p>
								<% else %>
									---
								<% end %>
							<% end %>
							<% if student.completed == [] %>
								---
							<% end %>
						</td>
						<td>
							<% student.completed.each do |comp| %>
								<% if (comp.title == "Disappearing Frogs?") == true %>
							  	<p id="comp">√<p>
								<% else %>
									---
								<% end %>
							<% end %>
							<% if student.completed == [] %>
								---
							<% end %>
						</td>
						<td>
							<% student.completed.each do |comp| %>
								<% if (comp.title == "Where's the Coral?") == true %>
							  	<p id="comp">√<p>
								<% else %>
									---
								<% end %>
							<% end %>
							<% if student.completed == [] %>
								---
							<% end %>
						</td>
						<td>
							<% student.completed.each do |comp| %>
								<% if (comp.title == "Amazing Arctic") == true %>
							  	<p id="comp">√<p>
								<% else %>
									---
								<% end %>
							<% end %>
							<% if student.completed == [] %>
								---
							<% end %>
						</td>
						<td>
							<% student.completed.each do |comp| %>
								<% if (comp.title == "The Everglades") == true %>
							  	<p id="comp">√<p>
								<% else %>
									---
								<% end %>
							<% end %>
							<% if student.completed == [] %>
								---
							<% end %>
						</td>
					</tr>
				<% end %>
			<tr>
				
			</tr>
		</table>
	</div>
</div>