<% if admin %>
<h2>links on links on links</h2>
	<%= link_to "Create Lesson", new_lesson_path %>
	<%= link_to "All Lessons", lessons_path %>
	<%= link_to "All Teachers", teachers_path %>
<% else %>	
<div id="admin_sgin">
	<h2 class="sgin">Admin Sign In</h2>
	<%= form_tag admin_signin_path, :class => "sgin-form" do %>
		<%= text_field_tag :email, nil, placeholder: "Email", :class => "form-field" %>
		<%= password_field_tag :password, nil, placeholder: "Password", :class => "form-field" %>
		<%= submit_tag "Sign In", :class => "form-btn"%>
	<% end %>
</div>
<% end %>