<h1>Students#edit</h1>

<%= form_for @student do |f| %>
	<%= f.text_field :fname, placeholder: "First Name"%>
	<%= f.text_field :lname, placeholder: "Last Name"%>
	<%= f.text_field :username, placeholder: "Username"%>
	<%= f.text_field :grade, placeholder: "grade"%>
	<%= f.password_field :password, placeholder: "Password"%>
	<%= f.submit "Update Student"%>
<% end %>
	
