<% if admin %>
	<% @lessons.each do |lesson| %>
		<%= lesson.title %>
		<%= link_to "Edit", edit_lesson_path(lesson) %>
	<% end %>
<% else %>
<div class="lessonbox" id="lesson1">	
	<div class="flag" id="flag1"></div>
	<div class="flagbox" id="f1box1">
		<p>This lesson is about this and is super duper awesome.
			<%= link_to "Try it out!", lesson_path(Lesson.first) %></p>
	</div>
</div>

<div class="lessonbox" id="lesson2">	
	<div class="flag" id="flag2"></div>
	<div class="flagbox" id="f2box2">
		<p>This lesson is about this and is super duper awesome.
			<%= link_to "Try it out!", lesson_path(Lesson.first) %></p>
	</div>
</div>

<div class="lessonbox" id="lesson3">	
	<div class="flag" id="flag3"></div>
	<div class="flagbox" id="f3box3">
		<p>This lesson is about this and is super duper awesome.
			<%= link_to "Try it out!", lesson_path(Lesson.first) %></p>
	</div>
</div>

<div class="lessonbox" id="lesson4">	
	<div class="flag" id="flag4"></div>
	<div class="flagbox" id="f4box4">
		<p>This lesson is about this and is super duper awesome.
			<%= link_to "Try it out!", lesson_path(Lesson.first) %></p>
	</div>
</div>

<div class="lessonbox" id="lesson5">	
	<div class="flag" id="flag5"></div>
	<div class="flagbox" id="f5box5">
		<p>This lesson is about this and is super duper awesome.
			<%= link_to "Try it out!", lesson_path(Lesson.first) %></p>
	</div>
</div>

<div class="lessonbox" id="lesson6">	
	<div class="flag" id="flag6"></div>
	<div class="flagbox" id="f6box6">
		<p>This lesson is about this and is super duper awesome.
			<%= link_to "Try it out!", lesson_path(Lesson.first) %></p>
	</div>
</div>
<% end %>