<h1>Lessons#new</h1>
<p>Find me in app/views/lessons/new.html.erb</p>

<%= form_for @lesson do |f| %>
	<%= f.text_field :title, placeholder: "Title" %>
	<%= f.text_field :body, placeholder: "type html here" %>
	<%= f.text_field :common_core, placeholder: "common core" %>
	<%= f.submit "Create Lesson" %>
<% end %>