<h1>Teacher#edit</h1>
<p>Find me in app/views/teacher/edit.html.erb</p>

<%= form_for @teacher do |f| %>
	<%= f.text_field :fname, placeholder: "First Name"%>
	<%= f.text_field :lname, placeholder: "Last Name"%>
	<%= f.text_field :email, placeholder: "Email"%>
	<%= f.text_field :school, placeholder: "School"%>
	<%= f.password_field :password, placeholder: "Password"%>
	<%= f.submit "Update"%>
<% end %>